@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #040316;
  --bg: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;
}

.dark {
  --bg: #050505;
  --text: #f2f2f7;
  --primary: #121212;
  --secondary: #1e1e1e;
  --accent: #534bff;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  /* 
  background-image: radial-gradient(at 0% 100%, #3a1508 0%, transparent 50%), radial-gradient(at 100% 0%, #1c0f0d 0%, transparent 50%); 
  */
  color: var(--text);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  transition: background-color 0.5s ease;
}